<header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="d-flex gap-5">
          <a class="navbar-brand" href="#"><%= user.name %></a>
        <figure class="d-flex">
          <img  src="../<%= user.avatar ? user.avatar : 'default.png' %>" alt="avatar" width="30px" style="border-radius: 50%;">
    </figure>
        </div>
        
        <ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/registro">Registro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/perfil">Perfil</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</header>