<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<% if (locals.user && user.color == 'naranja') { %>
    <body class="register" style="background-color: orange;">
  <% } else if(locals.user && user.color  == 'verde'){ %>
     <body class="register" style="background-color: green;">
   <% } else if(locals.user && user.color == 'rojo'){ %>
    <body class="register" style="background-color: red;">
    <% } else {%>
        <body class="register" style="background-color: white;">
        <% }%>
<%- include('./partials/header') %> 
    <div class="text-center">
        <img class="img-fluid imagen-bienvenidos" src="../images/istockphoto-491141177-612x612.jpg"/>
      </div>
<br/>
<h1 class="text-center">Tienes que loguearte</h1>
<br/>
<div class="text-center">
    <div class="d-inline p-2 ">
        <a href="/users/login">
            <button type="submit" class="btn btn-primary btn-center">Logueate</button>
        </a>
    </div>
    <div class="d-inline p-2 "><a href="/users/registro">
        <button type="submit" class="btn btn-primary btn-center">Registrate</button>
    </a>
    </div>
</div>

</body>
</html>